# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependências (uso futuro)
node_modules/
npm-debug.log*
yarn-error.log*
*.log
*.tmp

# Build e cache
dist/
build/
.cache/
.parcel-cache/


